.detail-container {
    padding: 20px;
    background-color: #f5f7fa82;;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.detail-container h2,
.detail-container h3,
.detail-container h4 {
    text-align: center;
    color: #333;
    margin: 20px;
}

.detail-container p {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.meal-table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
}

.meal-table {
    width: 100%;
    border-collapse: collapse;
}

.meal-table th,
.meal-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.meal-table th {
    background-color: #506071;
    color: white;
    font-weight: bold;
}

.meal-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.meal-table tr:hover {
    background-color: #e6f7ff;
}

.meal-table td {
    color: #333;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .meal-table, .meal-table thead, .meal-table tbody, .meal-table th, .meal-table td, .meal-table tr {
        display: block;
    }

    .meal-table thead tr {
        display: none;
    }

    .meal-table tr {
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .meal-table td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        text-align: left;
    }

    .meal-table td:before {
        content: attr(data-label);
        font-weight: bold;
        color: #506071;
    }

    .meal-table td:last-child {
        border-bottom: none;
    }
}
