.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: #fff;
}

.home-header {
    text-align: center;
    /* margin-bottom: 2rem; */
    width: 55%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin: 2% 2%;
   align-items: center;

}

.imgp{
    background-image: url('../../assets/img/fondohome.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh !important;
    width: 100%;
}

.home-header h1 {
    font-size: 3rem;
    margin: 4rem 2rem 0 2rem;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 300;
    line-height: 1.2;
    position: relative;
    right: 7%;
}

.home-header p {
    font-size: 1.3rem;
    color: #ddd;
    line-height: 1.6;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 20px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    background-color: #000000;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-width: 280px;
    padding: 2rem;
    background-color: rgb(109 101 101 / 80%);
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 4rem 0;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature h2{
    font-size: 3rem;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 300;
    line-height: 1.2;
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

.feature-icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 1rem;
}

.feature h2 {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 1rem;
}

.feature p {
    font-size: 1.1rem;
    color: #ccc;
}

.cta-section {
    margin-top: 3rem;
}

.cta-button {
    background-color: #00000091;
    color: white;
    padding: 10px 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 30%;
    margin-top: 15rem;
    position: relative;
    right: 7%;
}

/* .sec{
    height: 400px;
} */

.cta-button:hover {
    background-color: #fff;
    color: #ff7b54;
    transform: scale(1.05);
}
@media (max-width: 1024px) {
.home-header{
    margin-left: 10%;
}
}
@media (max-width: 768px) {
    .home-header{
        margin-left: 10%;
    }
    .home-header h1 {
        font-size: 2.5rem;
    }

    .home-header p {
        font-size: 1.1rem;
    }

    .feature {
        width: 100%;
    }

    .cta-button {
        width: 100%;
        text-align: center;
    }
}


@media (max-width: 500px) {
    .home-header  {
        margin-left: 25%;
    }

    .home-header p {
        font-size: 1.1rem;
    }

    .feature {
        width: 100%;
    }

    .cta-button {
        width: 100%;
        text-align: center;
    }
}


@media (min-width: 768px) {
  .feature{
      margin: 1.5rem 2.5rem;
  }
}