.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 60px; /* Altura del navbar */
    left: 0;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1001;
    background-color: #13131393;
    background-size: 20px 20px;
}

.sidebar.open {
    transform: translateX(0);
    z-index: 100;
}

.sidebar-link {
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
    border: none;
    background: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.sidebar-link:hover {
    background-color: #444;
}

@media (min-width: 1000px) {
    .sidebar {
        display: none; /* Esconde el sidebar en pantallas grandes */
    }
}